<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "uk.co.demon.bobjanet.pfp"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Prayers for Places</name>

    <description>
        Location-based prayers. 
    </description>

    <author href="http//www.bobjanet.demon.co.uk" email="bob@bobjanet.demon.co.uk">
        Bob Warwicker 
    </author>
    
    <icon src="ic_launcher.png" gap:platform="android" gap:qualifier="xhdpi" />
    
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    
    <feature name="http://api.phonegap.com/1.0/notification"/>
    
    <gap:plugin name="org.apache.cordova.dialogs"/>
    
    <!--<plugin name="Notification" value="org.apache.cordova.Notification"/> -->

</widget>
