body    { font-size: 130%; }
div     {
  font-size: 100%; 
  overflow: auto;
}
input   { font-size: 100%; }
button  { 
  font-size: 100%;
  background: #66cccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
}
select  { 
  font-size: 100%; 
  background: #66cccc;
}
iframe  { font-size: 100%; }
h2      { color: #006633;  }
hr      { border-color: #00cccc; background-color: #00cccc; border: 0 none; height: 3px; }
.title  { color: #006600; font-style:italic; }
.author { color: #006600; font-style:italic; font-size: 80%;}
.modalSpace {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
  background-image:url(blanking.png);
}
.dialog {
  max-width: 560px;
  width: 93%;
  margin: 1% auto;
  background-color: #ccffff;
  /*border:1px solid #000;*/
  border-style: none;
  padding: 4px;
  text-align:center;
}
.messageSpace {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 999;
  background-image:url(blanking.png);
}
.message {
  max-width: 560px;
  width: 93%;
  margin: 1% auto;
  background-color: #ccffff;
  /*border:1px solid #000;*/
  border-style: none;
  padding: 4px;
  text-align:center;
}
.messageContent {
  /*max-width: 560px;
  width: 93%;
  margin: 1% auto;*/
  background-color: #ccffff;
  border-style: none;
  /*padding: 4px;*/
  text-align:center;
  overflow: auto;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.notes {
  font-style: italic;
  color: #006666;
}
.detail {
  font-size: 65%;
}
