body    { font-size: 130%; }
div     {
  font-size: 100%; 
  overflow: auto;
}
input   { font-size: 100%; }
button  { 
  font-size: 100%;
  background: #006699;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  font-weight: bold;
  color: #ffffff;
}
.walkChoice {
  width: 12em;
}
select  { 
  font-size: 100%; 
  background: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px;
  border-color: #006699;
  font-weight: bold;
  color: #006699;
  text-align: center;
}
iframe  { font-size: 100%; }
h2      { color: #006633;  }
hr      { border-color: #00cccc; background-color: #00cccc; border: 0 none; height: 2px; }
.title  { color: #006600; font-style:italic; }
.author { color: #006600; font-style:italic; font-size: 80%;}
.modalSpace {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
  background-image:url(blanking.png);
}
.dialog {
  max-width: 560px;
  width: 93%;
  margin: 1% auto;
  background-color: #ccffff;
  /*border:1px solid #000;*/
  border-style: none;
  padding: 4px;
  text-align:center;
}
.messageSpace1 {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 999;
  background-image:url(blanking.png);
}
.message1 {
  max-width: 560px;
  width: 93%;
  margin: 1% auto;
  background-color: #ccffff;
  /*border:1px solid #000;*/
  border-style: none;
  padding: 4px;
  text-align:center;
}
.messageContent1 {
  /*max-width: 560px;
  width: 93%;
  margin: 1% auto;*/
  background-color: #ccffff;
  border-style: none;
  /*padding: 4px;*/
  text-align:center;
  overflow: auto;
}
.walkComputerStyle {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 997;
  font-size: 140%;
}
.walkComputerStuff {
  max-width: 560px;
  width: 100%;
  margin: 0% auto;
  background-color: #ffffff;
  /*border:1px solid #000;*/
  border-style: none;
  padding: 0;
  text-align:center;
}
.bigNumber {
  font-size: 400%;
  font-weight: bold;
}
.previewSpace1 {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 998;
  background-image:url(blanking.png);
}
.preview1 {
  max-width: 560px;
  width: 93%;
  margin: 1% auto;
  background-color: #ccffff;
  /*border:1px solid #000;*/
  border-style: none;
  padding: 4px;
  text-align:center;
}
.previewContent1 {
  /*max-width: 560px;
  width: 93%;
  margin: 1% auto;*/
  background-color: #ccffff;
  border-style: none;
  /*padding: 4px;*/
  text-align:center;
  overflow: auto;
}
.hideableFormSpace {
  visibility: hidden;
  text-align: center;
}
.centred {
  text-align: center;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.notes {
  font-style: italic;
  color: #006666;
}
.detail {
  font-size: 75%;
}
.mileage {
  font-size: 90%;
}
